:root {
  background-color: #E5E5E5;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
}

.body {
  margin-top: 15px;
  margin-left:15px;
  margin-right: 15px;
}

.app {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #eee;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width:  30em;
  width:100%;
  margin: 1em auto;
  overflow: hidden;
  overflow-x: auto;
}